    <script src="/javascripts/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/javascripts/core/core.js"></script>
  </body>
  </html>